body {
    background-color: #d1bdbd;
    font-family: Verdana, sans-serif;
}

form {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@font-face {
    font-family: "fires";
    src: local("fires.tff"),
    url("fires/fires.ttf");

}
h1 {
    color: red;
    font-family: "FIRES";
}
