body {
    background-color: #f6f6f6;
    font-family: Verdana, sans-serif;
}

form {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #777777;
}
