body {
    background-color: #ca9bee;
    font-family: Arial, sans-serif;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333333;
}

@font-face {
    font-family: "Sketch";
    src: local("Sketch.tff"),
      url("Sketch.ttf");
    font-weight: bold;
  }


h1 {
    font-family: "Sketch";
}